html {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #0e1117;
  color: #fff;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #fff;
}

.title {
  color: #f9dd45;
}

.category {
  text-align: right;
  padding: 4px 0;
}

.category li {
  list-style: none;
  display: inline-block;
}

.category a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}